@media screen and (max-width:1023px) {

    .whatsapp_main img {
        width: 40dvw;
        height: 5dvh;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .examples-area {
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section {
        padding-block: 80px;
    }
}

@media screen and (max-width:768px) {

    .primary-button {
        width: 100%;
    }

    .slider-secondary-button {
        padding: 6px 12px;
        font-weight: 700;
        font-size: small;
    }

    .slider-btn{
        display: flex;
    }

    .small-bold-text {
        padding: 0;
        font-size: .9rem;
    }

    .banner-text {
        flex-direction: column;
        align-items: start;
    }

    .content h2
    {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .content p
    {
        font-weight: 500;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-section .container {
        flex-direction: column-reverse;
    }

    .header-section .container .contactinfo {
        width: 100dvw;
        margin-left: 5rem;
    }

    .header-left {
        max-width:100vw;
        text-align: center;
    }
    .contactform
    {
        width: 100vw;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .contactform h2{
        font-size: 30px;
    }

    .contactform h3 {
        font-size: 18px;
    }

    .contactform .inputBox span {
        font-size: 13.2px;
    }

    .features-card {
        min-width: calc(50% - 10px);
    }

    .feature-img img {
        width: 100vw;
    }
    
    .big-feature-container, #second-big-feature {
        flex-direction: column;
    }

    .slider{
        width: 100vw;
        min-height: 50vh;
        border-radius: 0%;
    }

    .slider .slide .info{
        margin-top: 45%;
        padding: 0px;
        width: 100%;
    }

    .slider .slide .info h2{
        font-size: 1rem;
        font-weight: 800;
    }

    .prev-btn, .next-btn{
        z-index: 999;
        font-size: 1em;
        padding: 8px;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column {
        align-items: stretch;
    }

}

@media screen and (max-width:479px) {

    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .features-card {
        min-width: 100%;
    }

    .slider .slide .info{
        margin-top: 65%;
    }
    .slider .slide .info h2{
        font-size: 12px;
    }

    .examples-card {
        width: 100% ;
    }

}
