*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #b49f7f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-family: cursive;
}
nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}
nav img {
    width: 80px;
    border-radius: 50px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:rgba(216, 216, 216, 0.651);
    backdrop-filter:blur(10px) ;
    box-shadow: -10px rgba(0, 0, 0.1);
    font-weight: 500;
    font-size: 20px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
width: 100%;
}
.sidebar a{
    width: 100%;
    color: #000000e1;
}
.menu-button{
    display: none;
}
.content
{
    max-width: 800px;
    text-align: center;
}
.content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.content p
{
    font-weight: 500;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .address,
.container .contactinfo .box .email,
.container .contactinfo .box .mobile
{
    min-width: 40px;
    color: #fff;
    height: 40px;
    background: #00bcd9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    font-size: larger;
    color: #fff;
}
.contactform
{
    width: 40%;
    border-radius: 25%;
    padding: 40px;
    background: #fff;
}
.contactform h2
{
    font-size: 30px;
    color: #00bcd9;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.contactform .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 100%;
    background: #00bcd4;
    border-radius: 50%;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 25px;
}

@media(max-width: 800px){
    .hideonMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .content h1 {
        font-size: 25px;  
    }
    .text-box h1 {
        font-size: 20px;
    }
    .contactform
{
    width: 100%;
    border-radius: 10%;
    padding: 10px;
    background: #fff;
}
    .container{
        flex-direction: column;
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    .content h1 {
        font-size: 25px;  
    }
        .container{
        flex-direction: column;
}
    .text-box h1 {
        font-size: 20px;
    }
}
